mat-card {
    height: 97%;
    min-height: 300px ;
    min-width: 400px;
  }
  button.mdc-button.mat-mdc-button-base {
    line-height: 16px !important;
    height: 40px !important
  }
  
  .mat-mdc-card-content:first-child {
    padding-top: 0;
  }
  
  .mat-mdc-card-content {
    height: 100%;
    width: 100%;
  }
  
  .probes-title {
    margin-left: 21px;
  }
  
  ::ng-deep .hy-content-list__custom-cell {
    max-height: max-content !important; 
  }

  .probes {
    height: 100%;
    padding: 20px;
    h1 {
        font-size: 20px;
        font-weight: 500;
        width: fit-content;
      }
  }