<div class="probes">
    <h1 id="page-title" tabindex="0" aria-live="polite">
        {{ PROBES_LABELS.PROBE_TITLE }}
    </h1>
    <mat-card role="region" aria-label="probes-summary">
        <mat-card-content>
            <hy-content-list [dataSource]="probesData"> 
                <hy-content-list-column propertyName="probe" label="Probe">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.PROBE}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{getProbeDisplayName(row?.name)}}</span>
                    </ng-container>
                </hy-content-list-column>
                <hy-content-list-column propertyName="success" label="Success">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.SUCCESS}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <img [src]="getImageSrc(row?.status?.neverExecuted, row?.status?.success)"
                            [alt]="row?.status?.neverExecuted ? getTooltipAltText('unknown') : getTooltipAltText(row?.status?.success)"
                            [matTooltip]="row?.status?.neverExecuted ? getTooltipAltText('unknown') : getTooltipAltText(row?.status?.success)"
                            matTooltipClass="hy-tooltip" matTooltipPosition="above" />
                    </ng-container>
                </hy-content-list-column>
                <hy-content-list-column propertyName="neverExecuted" label="Last Executed">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.LAST_EXECUTED}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{ row?.status?.neverExecuted ? PROBES_LABELS.NEVER_EXECUTED : (row.history.lastRun | date:'MMMM d, yyyy') }}</span>
                    </ng-container>
                </hy-content-list-column>
                <hy-content-list-column propertyName="information" label="Information">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.INFORMATION}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{ row?.status?.infos?.info }}</span>
                    </ng-container>
                </hy-content-list-column>

                <hy-content-list-column propertyName="run" label="Run">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.RUN}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{ row?.counts?.run }}</span>
                    </ng-container>
                </hy-content-list-column>
                <hy-content-list-column propertyName="successCount" label="Success Count">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.SUCCESS_COUNT}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{ row?.counts?.success }}</span>
                    </ng-container>
                </hy-content-list-column>
                <hy-content-list-column propertyName="failureCount" label="Failure Count">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.FAILURE_COUNT}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{ row?.counts?.failure }}</span>
                    </ng-container>
                </hy-content-list-column>
                <hy-content-list-column propertyName="time" label="Time">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.TIME}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <span>{{ row?.time }}</span>
                    </ng-container>
                </hy-content-list-column>

                <!-- History Column -->
                <hy-content-list-column propertyName="history" label="History">
                    <ng-container *hyContentListHeader>
                        <strong>{{PROBES_LABELS.COLUMN_HEADERS.HISTORY}}</strong>
                    </ng-container>
                    <ng-container *hyContentListCell="let row">
                        <div>
                            <strong>Last Run: </strong> 
                            <span>{{ row?.history?.lastRun ? (row.history.lastRun | date:'MMMM d, yyyy') : PROBES_LABELS.NOT_RUN }}</span>
                        </div>
                        <div>
                            <strong>Last Success: </strong> 
                            <span>{{ row?.history?.lastSuccess ? (row.history.lastSuccess | date:'MMMM d, yyyy') : PROBES_LABELS.NOT_RUN }}</span>
                        </div>
                        <div>
                            <strong>Last Fail: </strong> 
                            <span>{{ row?.history?.lastFail ? (row.history.lastFail | date:'MMMM d, yyyy') : PROBES_LABELS.NOT_RUN }}</span>
                        </div>
                    </ng-container>
                </hy-content-list-column>

                <hy-content-list-column propertyName="actions" label="Actions">
                    <ng-container *hyContentListCell="let row">
                      <button class="launch-probe" mat-stroked-button color="primary" (click)="launchProbe(row)">
                        {{PROBES_LABELS.CHECK_AGAIN}}
                      </button>
                     
                    </ng-container>
                  </hy-content-list-column>
            </hy-content-list>
        </mat-card-content>
    </mat-card>
</div>
