.bulk-action-details {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .title {
    font-weight: 700;
  }

  &__info {
    width: 24%;
    height: 220px;
    padding: 18px 24px; 

    p {
      font-weight: 550;
    }

    .error-found {
      color: red;
    }

    .info-container {
      font-size: 14px;
    }

    hr {
      height: 1px;
      width: calc(100% + 48px); 
      background-color: #d1d5db;
      margin-left: -24px; 
    }
  }

  &__additional-info {
    margin-left: 10px;
    width: 74%;
    height: 220px;
  }

  .mat-mdc-card-content {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

::ng-deep .hy-content-list__custom-cell {
  max-height: none !important; 
  height: auto; 
}
::ng-deep .hy-content-list__virtual-scroll-viewport {
  height: 90% !important;
}

@media (max-width: 962px) {
  .bulk-action-details {
    flex-direction: column;
    align-items: center;

    &__info,
    &__additional-info {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      padding: 10px 12px; 
    }

    &__info hr {
      width: calc(100% + 24px); 
      margin-left: -12px;
    }
  }
}

