<ng-container *ngIf="data$ | async as data">
  <nav class="navbar navbar-light">
    <div class="container">
      <ul class="nav navbar-nav pull-xs-right">
        <ng-container *ngIf="data.currentUser">
          <!-- todo: loop through all actions here to display the list on the sideBar -->
          <!-- todo: static items as of now-->
          <li class="nav-item">
            <a routerLink="" class="nav-link">
              <i class="ion-compose"></i>
              &nbsp; Elastic Search1
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/settings" class="nav-link">
              <i class="ion-gear-a"></i>
              &nbsp; Settings
            </a>
          </li>
        </ng-container>    
      </ul>
    </div>
  </nav>
</ng-container>
