<div>
  <div class="main-flex-container">
    <form [formGroup]="consumerPositionForm" (ngSubmit)="showConfirmationModal()">
      <div class="change-consumer-position">
        <p class="required-indicator-label">
          {{ GENERIC_LABELS.REQUIRED_FIELD_INDICATOR }}
        </p>
        <div class="form-fields-row">
          <div>
            <p class="label form-param">
              {{ CHANGE_CONSUMER_POSITION_LABELS.STREAMS }}
              <span class="required-field">*</span>
            </p>
            <mat-form-field appearance="outline" class="input-field change-consumer-field">
              <mat-select #focusMatSelect formControlName="stream" id="stream"
                (selectionChange)="onStreamChange($event.value)">
                <mat-option *ngFor="let stream of streams" [value]="stream?.name">
                  {{ stream?.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <p class="label form-param">
              {{ CHANGE_CONSUMER_POSITION_LABELS.CONSUMER }}
              <span class="required-field">*</span>
            </p>
            <mat-form-field appearance="outline" class="input-field change-consumer-field">
              <mat-select id="consumer" formControlName="consumer">
                <mat-option *ngFor="let consumer of consumers" [value]="consumer?.consumer">
                  {{ consumer?.consumer }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div class="consumer-position-container--position-container" formGroupName="position">
          <p class="label form-param">
            {{ STREAM_LABELS.POSITION }}<span class="required-field">*</span>
          </p>
          <mat-radio-group class="radio-group-container" formControlName="value" id="position"
            (change)="onPositionChange()">
            <mat-radio-button [value]="CHANGE_CONSUMER_POSITION_LABELS.POSITION.BEGINNING.VALUE">
              <p class="label">{{ CHANGE_CONSUMER_POSITION_LABELS.POSITION.BEGINNING.LABEL }}</p>
            </mat-radio-button>
            <mat-radio-button [value]="CHANGE_CONSUMER_POSITION_LABELS.POSITION.END.VALUE">
              <p class="label">{{ CHANGE_CONSUMER_POSITION_LABELS.POSITION.END.LABEL }}</p>
            </mat-radio-button>
            <mat-radio-button class="offset-radio-btn" [value]="CHANGE_CONSUMER_POSITION_LABELS.POSITION.OFFSET.VALUE">
              <div class="radio-content" (click)="$event.stopPropagation()" (change)="$event.stopPropagation()">
                <div class="field-group">
                  <p class="label">{{ CHANGE_CONSUMER_POSITION_LABELS.POSITION.OFFSET.LABEL }}</p>
                  <mat-form-field appearance="outline" class="offset-partition-field">
                    <input type="number" id="offset" name="offset" formControlName="offset" matInput />
                  </mat-form-field>
                </div>
                <div class="field-group">
                  <p class="label">{{ CHANGE_CONSUMER_POSITION_LABELS.POSITION.PARTITION.LABEL }}</p>
                  <mat-form-field appearance="outline" class="offset-partition-field">
                    <input matInput type="number" id="partition" name="partition" formControlName="partition" />
                  </mat-form-field>
                </div>
              </div>
            </mat-radio-button>
            <mat-radio-button class="mat-date-radio-btn" [value]="CHANGE_CONSUMER_POSITION_LABELS.POSITION.DATE.VALUE">
              <p class="label">{{ CHANGE_CONSUMER_POSITION_LABELS.POSITION.DATE.LABEL }}</p>
              <mat-form-field appearance="fill" class="date-field">
                <input placeholder="yyyy/mm/dd" matInput [matDatepicker]="picker" formControlName="after">
                <mat-datepicker-toggle [disableRipple]="true" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button class="mat-date-picker-apply-btn" mat-raised-button matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="change-consumer-position-btn">
          <button [disabled]="isChangeConsumerPositionDisabled" mat-flat-button color="primary" type="submit"
            class="change-consumer-position-btn__button">
            {{ CHANGE_CONSUMER_POSITION_LABELS.CONSUMER_POSITION_LABEL }}
          </button>
          <button [disabled]="!isValidData(consumerPositionData)" mat-flat-button color="primary" type="button"
            (click)="clearRecords()" class="change-consumer-position-btn__button clear">
            {{ CHANGE_CONSUMER_POSITION_LABELS.CLEAR_RECORDS }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="isValidData(consumerPositionData)" class="consumer-data-container">
    <label><b>{{ CHANGE_CONSUMER_POSITION_LABELS.POSITION_DETAILS }}</b></label>
    <pre>{{ consumerPositionData | json }}</pre>
  </div>
</div>