<form [formGroup]="nxqlReindexForm" (ngSubmit)="onReindexFormSubmit()" class="nxql-es-reindex-container">
    <mat-form-field hyFormField>
        <mat-label>{{ ELASTIC_SEARCH_LABELS.NXQL_QUERY }}</mat-label>
        <textarea matInput class="nxql-query-textarea" [placeholder]="ELASTIC_SEARCH_LABELS.NXQL_QUERY_PLACEHOLDER"
            formControlName="nxqlQuery" id="nxqlQuery" required></textarea>
        <mat-error *ngIf="nxqlReindexForm?.get('nxqlQuery')?.invalid">{{
            getErrorMessage()
            }}</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="nxql-es-reindex-container__button">
        {{ ELASTIC_SEARCH_LABELS.REINDEX_BUTTON_LABEL }}
    </button>
    <div [innerHTML]="nxqlQueryHintSanitized"></div>
    <div class="spinner-overlay" *ngIf="spinnerVisible">
        <mat-progress-spinner class="custom-spinner" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</form>
  

