<ng-container>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Admin Panel</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Dash Board</a>
        </li>
        <ng-container>
          <li class="nav-item">
            <a routerLink="/auth" class="nav-link"> Sign in </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
  
</ng-container>
