<mat-toolbar class="admin-header">
  <div class="admin-header__branding">
    <button mat-icon-button aria-label="branding icon">
      <img src="../../assets/images/logo.svg" alt="Nuxeo Logo" />
    </button>
    <span class="admin-header__branding__title">Admin Console</span>
  </div>

  <span class="admin-header__spacer"></span>
  <button mat-icon-button class="admin-header__branding__profile-icon" aria-label="Profile icon">
    <img src="../../assets/images/user-profile.svg" alt="user profile">
  </button>
</mat-toolbar>