<h2> {{ data.title }}</h2>
<mat-divider class="separator"></mat-divider>
<mat-dialog-content class="mat-typography generic-modal">
  @if (data.type === GENERIC_LABELS.MODAL_TYPE.confirm) {
  <div>
    <div>
      <p>
        {{ GENERIC_LABELS.IMPACT_MESSAGE }}
      </p>
      <p>This action will impact {{data.documentCount}}
        {{data.documentCount === 1 ? 'document' : 'documents'}}
        and could take approximately {{data.timeTakenForAction}}. {{ GENERIC_LABELS.CONTINUE_CONFIRMATION }}
      </p>
    </div>
  </div>
  } @else {
  @if (data.operationType === CONSUMER_THREAD_POOL_LABELS.CONSUMER_THREAD_POOL_OPERATION || data.operationType ===
  CHANGE_CONSUMER_POSITION_LABELS.OPERATION_TYPE) {
  <div>
    <p class="consumer-thread-pool-msg" [innerHTML]="data.message"></p>
  </div>
  } @else {
  <p>{{ data.launchedMessage }}</p>
  <div id="action-buttons-container">
    <div class="action-button-group">
      <button mat-stroked-button color="primary" (click)="seeStatus()">
        {{ GENERIC_LABELS.SEE_STATUS_LABEL }}
      </button>
    </div>
    <div class="action-button-group">
      <button mat-stroked-button color="primary" (click)="copyActionId()">
        {{ GENERIC_LABELS.COPY_ACTION_ID_BUTTON_LABEL }}
      </button>
    </div>
  </div>
  }
  }
</mat-dialog-content>
<mat-divider class="separator"></mat-divider>
<mat-dialog-actions>
  @if (data.type === GENERIC_LABELS.MODAL_TYPE.confirm) {
  <div>
    <button mat-stroked-button color="primary" (click)="close()" class="abort-btn">
      {{ GENERIC_LABELS.ABORT_LABEL }}
    </button>
    <button mat-flat-button color="primary" (click)="continue()" [disabled]="data.documentCount === 0">
      {{ GENERIC_LABELS.CONTINUE }}
    </button>
  </div>
  } @else {
  @if (data.operationType === CONSUMER_THREAD_POOL_LABELS.CONSUMER_THREAD_POOL_OPERATION || data.operationType ===
  CHANGE_CONSUMER_POSITION_LABELS.OPERATION_TYPE) {
  <div>
    <button mat-stroked-button color="primary" (click)="close()" class="abort-btn">
      {{ GENERIC_LABELS.ABORT_LABEL }}
    </button>
    <button mat-flat-button color="primary" (click)="continueConsumerThreadPoolOperation()">
      {{ GENERIC_LABELS.CONTINUE }}
    </button>
  </div>
  } @else {
  <button mat-flat-button color="primary" (click)="close()">
    {{ GENERIC_LABELS.CLOSE_LABEL }}
  </button>
  }
  }
</mat-dialog-actions>