<form [formGroup]="inputForm" (ngSubmit)="onFormSubmit()" class="nxql-tab-container">
    <p id="requiredField"> {{ GENERIC_LABELS.REQUIRED_FIELD_INDICATOR }}</p>
    <mat-form-field hyFormField>
        <mat-label>{{ GENERIC_LABELS.NXQL_QUERY }}</mat-label>
        <textarea matInput [placeholder]="GENERIC_LABELS.NXQL_QUERY_PLACEHOLDER" formControlName="inputIdentifier"
            id="inputIdentifier" required cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" class="resizable-textarea"></textarea>
        <mat-error *ngIf="inputForm?.get('inputIdentifier')?.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" class="nxql-tab-container__button" [disabled]="isSubmitBtnDisabled">
        {{ templateLabels.submitBtnLabel }}
    </button>
    <div class="nxql-tab-hint" [innerHTML]="nxqlQueryHintSanitized"></div>
    <div class="spinner-overlay" *ngIf="spinnerVisible">
        <mat-progress-spinner class="custom-spinner" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</form>