.nxql-tab-container {
  padding: 10px 0px 0px 10px;
  .required-indicator {
    color: rgb(218, 21, 0);
    font-family: "Open Sans", sans-serif;
    padding-left: 2px;
  }
  #requiredField {
    font-size: 14px;
    color: rgb(218, 21, 0);
    font-family: "Open Sans";
    line-height: 1;
  }
  .label {
    line-height: 1;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
  }
  &.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__button {
    border-radius: 4px !important;
    width: 110px;
    height: 45px;
    position: relative;
    left: 20px;
    font-size: 16px;
    top: -20px;
    background-color: #0a60ce !important;
    font-weight: 550;
    letter-spacing: normal;
    color: #fff;
    &.video-renditions {
      left: 0;
      bottom: 0;
      top: 0;
    }
  }
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.custom-spinner {
  width: 80px !important;
  height: 80px !important;
  stroke-width: 5px !important;
}

.resizable-textarea {
  resize: vertical;
  overflow: auto;
}

.nxql-es-reindex-hint {
  margin-top: 3px;
}

.conversion-helper-text {
  font-size: 14px;
  margin-top: -15px;
}

@media (max-width: 1024px) {
  .nxql-tab-container {
    &__button {
      top: 0;
    }
  }
}

.conversion-helper-text {
  font-size: 14px;
  margin-top: -15px;
  color: #666666;
}

.force-checkbox-container {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.force-conversion-helper-text {
  max-width: 600px; /* Adjust as needed */
  white-space: normal;
  word-wrap: break-word;
  font-size: 13px;
  margin-top: -15px;
  color: #666666;
}
