 <!-- <div class="admin-base-container">
    <div class="admin-base-container__top">
        <admin-header></admin-header>
    </div>
    <div class="admin-base-container__bottom">
        <div class="admin-base-container__bottom--left">
            <admin-menu></admin-menu>
        </div>
        <div class="admin-base-container__bottom--right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>  -->

<div class="admin-base-container">
    <div class="admin-top-container">
        <admin-header></admin-header>
    </div>
    <div class="admin-bottom-container">
        <div class="admin-bottom-left-container">
            <admin-menu></admin-menu>
        </div>
        <div class="admin-bottom-right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> 