@import "material-symbols/outlined.css";

html {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #f4f4f4;
  height: 100%;
  letter-spacing: normal;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

th {
  text-align: left;
}

td,
th {
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

input[type="radio"]:disabled,
input[type="radio"].disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"].disabled {
  cursor: not-allowed;
}

footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

// IE11 compatibility mode
.material-icons {
  font-feature-settings: "liga";
}

$openSansFont: "Open Sans", sans-serif;
$sourceSansFont: "source sans pro", sans-serif;
$primaryBtn: #0a60ce !important;

/* Snackbar */
.mdc-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 10px;
  color: #000;
  min-width: 250px;
  width: auto;
}

.mdc-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: #000 !important;
  text-align: center;
  font-size: 16px;
  font-family: $openSansFont;
}

.mdc-snackbar.mat-mdc-snack-bar-container.success-snack .mdc-snackbar__surface {
  background-color: #e3f9e3;
  border: 2px solid #46a829;
}

.mdc-snackbar.mat-mdc-snack-bar-container.error-snack .mdc-snackbar__surface {
  background-color: #fff;
  border: 2px solid red;
}

/* Dialog */

.mat-mdc-dialog-content .mat-mdc-outlined-button:not(:disabled) {
  border-color: #767b88;
}

.mdc-dialog h2 {
  font-weight: 300;
  font-size: 32px;
  font-family: $sourceSansFont;
  margin-left: 22px;
  margin-top: 20px;
}

.mat-mdc-dialog-actions.mdc-dialog__actions {
  justify-content: end;
  padding-right: 25px;
  margin-top: -6px;

  button {
    color: #fff;
    border-radius: 8px;
    min-width: 68px;
    font-family: $openSansFont;
    font-weight: 550;
    letter-spacing: normal;
    background-color: $primaryBtn;
  }

  button.mdc-button--outlined {
    border-color: #767b88;
  }

  .abort-btn {
    background-color: #fff !important;
    color: #0a60ce;
  }
}

.mat-mdc-dialog-container .mdc-dialog__container .mdc-dialog__surface {
  border-radius: 12px;
}

.mat-mdc-dialog-content.generic-modal p,
.mat-mdc-dialog-content.error-modal p {
  font-family: $sourceSansFont;
  color: #373a3c;
  letter-spacing: normal;
}

.mat-mdc-dialog-content .mat-mdc-outlined-button:not(:disabled) {
  font-family: $openSansFont;
  font-weight: 510;
  letter-spacing: normal;
  border-radius: 8px;
  color: $primaryBtn;
}

.mdc-dialog .mdc-dialog__content.generic-modal,
.mdc-dialog .mdc-dialog__content.error-modal {
  padding: 5px 24px 8px 24px !important;
  max-height: 140px;

  .separator {
    width: 100%;
    background-color: #d1d5db;
  }
}

.mdc-dialog .mdc-dialog__content.error-modal {
  height: 125px;
}

.mat-mdc-dialog-actions.mdc-dialog__actions.warning-dialog__actions {
  padding-bottom: 15px;
}

.mdc-dialog .mdc-dialog__content.warning-dialog__content {
  padding: 0px 24px 10px 24px !important;
}

.warning-dialog .mdc-label {
  margin-bottom: 0;
}

/* Form fields */

mat-form-field.input-field {
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  line-height: 10px;

  p {
    font-size: 14px;
  }

  mat-error {
    margin-left: -18px;
    margin-top: -2px;
  }

  .mat-mdc-text-field-wrapper {
    height: 45px !important;

    .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 20px;
    }
  }

  button {
    font-family: $openSansFont;
    font-size: 16px;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control,
  .mat-mdc-select {
    font-size: 14px;
    font-family: $openSansFont;
  }
}

mat-form-field.input-field.nxql {
  max-width: 600px;
  width: 100%;
  min-height: 60px;
  height: auto;

  .mat-mdc-select {
    color: #000;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 0;
  }

  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-flex {
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
      font-family: Open Sans, sans-serif;
      letter-spacing: normal;
    }
  }

  mat-error {
    margin-left: -18px;
    margin-top: -2px;
  }

  button.mdc-button {
    background-color: $primaryBtn;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    font-size: 14px;
    font-family: $openSansFont;
  }
}

mat-form-field.input-field.nxql .mat-mdc-text-field-wrapper {
  height: auto !important;
}

mat-form-field.input-field.recompute .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px;
}

mat-form-field.input-field.stream-field {
  margin-top: 5px;
}

mat-form-field.input-field.stream-field,
mat-form-field.input-field.consumer-field,
mat-form-field.input-field.change-consumer-field {
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 11px;
  }
}


/* mat card */

.bulk-action-details {
  mat-card.mat-mdc-card {
    border-radius: 12px;
    border: 1px solid #d1d5db;
    box-shadow: none;
    padding: 25px;
  }

  .mat-mdc-card-content {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.mat-mdc-tab-link-container .mat-mdc-tab-links .mdc-tab__content .mdc-tab__text-label {
  font-family: $openSansFont;
  font-size: 14px;
  font-weight: 500;
  color: #173e65;
  letter-spacing: normal;
}


mat-radio-group#position .complex-radio .mat-mdc-radio-button .mdc-radio {
  bottom: 37px !important;
}

mat-radio-group#position mat-radio-button:not(.complex-radio) .mdc-radio {
  margin-top: 25px;
}

mat-radio-group#position mat-radio-button:not(.complex-radio) .mdc-label {
  padding-left: 0px;
  margin-top: 32px;
}

mat-radio-button.complex-radio {
  .mdc-radio {
    margin-top: 23px;
  }

  .mdc-label {
    padding-left: 0;
    padding-top: 66px;
  }
}


.offset-partition-field {
  width: 80px !important;
  max-width: 80px !important;
  height: 40px !important;
  max-height: 40px !important;

  .mat-mdc-text-field-wrapper {
    height: 40px !important;
    min-height: 40px !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
  }


  .mat-mdc-form-field-flex {
    height: 40px !important;
    min-height: 40px !important;
    padding: 0 !important;
  }


  .mat-mdc-form-field-infix {
    height: 40px !important;
    min-height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
  }


  input {
    width: 80px !important;
    height: 40px !important;
    max-width: 80px !important;
    max-height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    outline: none;
    text-align: center;
  }
}


.stream-form-container--config-container mat-form-field {
  width: 120 !important;
  min-width: 120 !important;
  height: 20px !important;
  max-height: 20px !important;

  .mat-mdc-text-field-wrapper {
    height: 40px !important;
    width: 120px !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
  }

  .mat-mdc-form-field-infix {
    height: 40px !important;
  }

  mat-select {
    display: flex;
    align-items: center;
  }

  .mat-mdc-select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 0 10px;
  }

  .mat-mdc-select-value {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-mdc-select-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stream-tab-group .mat-mdc-tab-labels {
  width: max-content !important;
  .mdc-tab__text-label {
    color: #173e65 !important;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

  }
}

.confirmation-dialog-height .mdc-dialog .mdc-dialog__content.generic-modal,
.error-dialog-height .mdc-dialog .mdc-dialog__content {
  max-height: max-content !important;
}
.consumer-position-container--position-container .mdc-form-field {
  display: flex !important;
  align-items: flex-start;
}

.date-field .mat-mdc-text-field-wrapper {
    height: 40px !important;
    align-items: center;
}

.label.form-param{
  margin: 5px;
}

.cdk-overlay-container .mat-datepicker-content .mat-datepicker-close-button {
  border-radius: 4px !important;
  width: max-content;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  background-color: #0a60ce;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.consumer-position-sub-tabs .mat-mdc-tab-labels .mdc-tab__text-label {
  font-size: 12px;
}

.consumer-data-container, .scaling-analysis-data-container, .nuxeo-stream-data-container {
  height: 400px;
  overflow: auto;
  margin: 24px 0px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fefdfd;
  box-sizing: border-box;
  width: 98%;
  padding: 2px 0px 0px 10px;
}

.stream-tab-group {
  mat-tab-header {
    background-color: white;
    margin: 0px 20px;
  }
}

json-table-view {
  width: 80% !important;
  display: grid;
}

.json-viewer-container .mat-mdc-form-field-wrapper {
  padding-bottom: 0 !important;
  align-items: center;
}

.json-viewer-container .mat-mdc-text-field-wrapper {
  padding: 0 !important;
  height: 40px;
  align-items: center;
}

.json-viewer-container mark.search-match {
  background-color: #fae41a;
  color: #000;
  padding: 1px 2px;
  border-radius: 2px;

  &.current-match {
    background-color: #ff9800;
    animation: pulse 1s ease-in-out;
  }
}

.stream-records .json-controls.sticky-header {
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

.mdc-snackbar.mat-mdc-snack-bar-container {
  position: fixed !important;
  top: auto !important;
  bottom: 20px !important;
  left: 50% !important;
  right: auto !important;
  transform: translateX(-50%) !important;
  z-index: 1000 !important;
}