/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "@hyland/ui" as hy;
@use "@hyland/ui/theming/hy-palette.theme";
@use "@hyland/ui-shell" as hy-shell;
@use "sass:map";

@import "@hylandsoftware/hy-ui-icons/index.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include hy.typography();
@include hy.core();

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype support variations"),
    url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype-variations");
  font-weight: 400 700;
  font-display: swap;
}

html {
  position: relative;
  min-height: 95vh;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Open Sans";
}

// IE11 compatibility mode
.material-icons {
  font-feature-settings: "liga";
}


a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


@-ms-viewport {
  width: device-width;
}

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

textarea {
  overflow: auto;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

.navbar {
  display: none;
}

[tabindex="-1"]:focus {
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):focus,
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):focus {
  outline: none;
}

textarea {
  touch-action: manipulation;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}

textarea {
  resize: vertical;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.checkbox {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
}

.checkbox label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
}

.checkbox label input:only-child {
  position: static;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: -1.25rem;
}

.checkbox + .checkbox {
  margin-top: -0.25rem;
}

.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 0.75rem;
}

input[type="checkbox"]:disabled,
input[type="checkbox"].disabled {
  cursor: not-allowed;
}

.checkbox-inline.disabled {
  cursor: not-allowed;
}

.checkbox.disabled label {
  cursor: not-allowed;
}

.font-weight-normal {
  font-weight: 400;
}
.font-weight-bold {
  font-weight: 700;
}
