.admin-base-container {
  display: flex;
  background-color: yellow;
  width: 100vw;
  height: 100vh;
}
.admin-menu {
  background-color: red;
  width: 25%;
}
.admin-home {
  background-color: blue;
  width: 75%
}