.bulk-action-container {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: 100%;
  h1 {
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
  }
  &__placeholder {
    background-color: #fff;
    min-height: 95%;
    height: auto;
  }
  .result {
    margin-top: 65px;
    padding: 15px;
    hr {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
