mat-card {
  height: 97%;
  min-height: 300px;
  min-width: 400px;

  &.mdc-card {
    border-radius: 12px;
    padding: 24px;
    background: white;
    border: 1px solid #d1d5db;
    box-shadow: none;
  }
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content {
  height: 100%;
  width: 100%;
}

.probes-title {
  margin-left: 15px;
  color: black;
}

.probes-data {
  height: 100%;
  h1 {
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
  }
}

.redirect-details-btn {
  border-radius: 4px;
  width: 100px;
  height: 36px;
  position: relative;
  left: 85%;
  top: 30%;
  margin-bottom: 20px;
  background-color: #0a60ce !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
  letter-spacing: normal;
}

.launch-probe-btn.mdc-button.mat-mdc-button-base {
  line-height: 16px !important;
  height: 40px !important;
  border-color: #767b88;
  color: #0a60ce !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
}

mat-card-footer {
  margin-top: 30px;
}

.table-container-summary {
  height: 100%;
  overflow: auto;
  will-change: scroll-position;
  contain: strict;
  -webkit-overflow-scrolling: touch;
}
.table-container-detail {
  max-height: 550px;
  overflow: auto;
}
@media (width < 800px) {
  .redirect-details-btn {
    left: 75%;
  }
}

table {
  width: 100%;
}

.highlight {
  background: #e5effb;
  border-left: 4px solid #0560cb;
}

tr:focus {
  outline: none;
}
