<div class="probes-data">
    <mat-card role="region" aria-label="probes-data" tabindex="0">
        <mat-card-content>
            <div class="probes-title" *ngIf="summary">
                {{ PROBES_LABELS.PROBE_TITLE }}
            </div>
            <div [ngClass]="{'table-container-summary': summary, 'table-container-detail': !summary}">
                <table mat-table [dataSource]="probesData" class="mat-elevation-z0">
                    <ng-container matColumnDef="probe">
                        <ng-container *ngIf="isColumnVisible('probe')">
                            <th mat-header-cell *matHeaderCellDef sticky> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.PROBE
                                    }}</strong>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <span>{{ deriveProbeDisplayName(row?.name) }}</span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="success">
                        <ng-container *ngIf="isColumnVisible('success')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.SUCCESS
                                    }}</strong>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <img [src]="determineImageSource(row?.status?.neverExecuted, row?.status?.success)"
                                    [alt]="formatTooltipText(row?.status?.neverExecuted ? 'unknown' : row?.status?.success)"
                                    [matTooltip]="formatTooltipText(row?.status?.neverExecuted ? 'unknown' : row?.status?.success)"
                                    matTooltipPosition="above" />
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="neverExecuted">
                        <ng-container *ngIf="isColumnVisible('neverExecuted')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.LAST_EXECUTED
                                    }}</strong> </th>
                            <td mat-cell *matCellDef="let row">
                                <span>
                                    {{ row?.status?.neverExecuted ? PROBES_LABELS.NEVER_EXECUTED :
                                    (row?.history?.lastRun |
                                    date: 'MMMM d, yyyy') }}
                                </span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="information">
                        <ng-container *ngIf="isColumnVisible('information')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.INFORMATION
                                    }}</strong> </th>
                            <td mat-cell *matCellDef="let row">
                                <span>{{ row?.status?.infos?.info }}</span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="run">
                        <ng-container *ngIf="isColumnVisible('run')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.RUN
                                    }}</strong>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <span>{{ row?.counts?.run }}</span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="successCount">
                        <ng-container *ngIf="isColumnVisible('successCount')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.SUCCESS_COUNT
                                    }}</strong> </th>
                            <td mat-cell *matCellDef="let row">
                                <span>{{ row?.counts?.success }}</span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="failureCount">
                        <ng-container *ngIf="isColumnVisible('failureCount')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.FAILURE_COUNT
                                    }}</strong> </th>
                            <td mat-cell *matCellDef="let row">
                                <span>{{ row?.counts?.failure }}</span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="time">
                        <ng-container *ngIf="isColumnVisible('time')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.TIME
                                    }}</strong>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <span>{{ row?.time }}</span>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="history">
                        <ng-container *ngIf="isColumnVisible('history')">
                            <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.HISTORY
                                    }}</strong>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <div>
                                    <strong>Last Run: </strong>
                                    <span>{{ row?.history?.lastRun ? (row?.history?.lastRun | date: 'MMMM d, yyyy') :
                                        PROBES_LABELS.NOT_RUN }}</span>
                                </div>
                                <div>
                                    <strong>Last Success: </strong>
                                    <span>{{ row?.history?.lastSuccess ? (row?.history?.lastSuccess | date: 'MMMM d,
                                        yyyy')
                                        : PROBES_LABELS.NOT_RUN }}</span>
                                </div>
                                <div>
                                    <strong>Last Fail: </strong>
                                    <span>{{ row?.history?.lastFail ? (row?.history?.lastFail | date: 'MMMM d, yyyy') :
                                        PROBES_LABELS.NOT_RUN }}</span>
                                </div>
                            </td>
                        </ng-container>

                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> <strong>{{ PROBES_LABELS.COLUMN_HEADERS.ACTIONS
                                }}</strong>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button class="launch-probe-btn" mat-stroked-button color="primary"
                                (click)="launchProbe(row)">
                                {{PROBES_LABELS.CHECK_AGAIN}}
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let i = index"
                        [ngClass]="{'highlight': selectedRowIndex === i}" (focus)="highlightRow(i)" tabindex="0">
                    </tr>
                </table>
            </div>

        </mat-card-content>
        <mat-card-footer *ngIf="summary">
            <button mat-flat-button color="primary" class="redirect-details-btn" (click)="viewDetails()" tabindex="0">
                {{ PROBES_LABELS.DETAILS }}
            </button>
        </mat-card-footer>
    </mat-card>

</div>