.bulk-action-details {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .title {
    font-weight: 700;
  }

  &__info {
    height: 220px;
  //  width: 16%;
    p {
      font-weight: 550;
    }

    .error-found {
      color: red;
    }

    .info-container {
      font-size: 14px;
    }

    hr {
      width: 100%;
      background-color: #d1d5db;
    }
  }

  &__additional-info {
    margin-left: 10px;
    width: 75%;
    height: 220px;
  }

  mat-card.mat-mdc-card {
    border-radius: 12px;
    border: 1px solid #d1d5db;
    box-shadow: none;
    padding: 25px;
  }

  .mat-mdc-card-content {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

::ng-deep .hy-content-list__custom-cell {
  max-height: none !important;
  height: auto;
}
::ng-deep .hy-content-list__virtual-scroll-viewport {
  height: 90% !important;
}

@media (max-width: 1024px) {
  .bulk-action-details {
    flex-direction: column;
    align-items: center;

    &__info,
    &__additional-info {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
