.bulk-action-details {
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  .title {
    font-weight: 700;
  }

  &__info {
    height: 220px;
    p {
      font-weight: 550;
    }

    .error-found {
      color: red;
    }

    .info-container {
      font-size: 14px;
    }

    hr {
      width: 100%;
      background-color: #d1d5db;
    }
  }

  &__additional-info {
    margin-left: 10px;
    width: 75%;
    height: 220px;

    .title {
      margin-top: -17px;
    }
  }
}

@media (max-width: 1024px) {
  .bulk-action-details {
    flex-direction: column;
    align-items: center;

    &__info,
    &__additional-info {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
