.warning-dialog {
  width: 564px;
  max-height: 300px;
  &__title {
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.011em;
    color: rgb(55, 58, 60);
    font-size: 26px;
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 10px;
  }
  &__subheading-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    color: rgb(55, 58, 60);
    letter-spacing: normal;
    margin-top: -10px;
  }
  &__subheading-caption {
    padding-top: 5px;
    font-weight: bold;
    color: #4b5563;
    font-size: 14px;
  }
  &__checkbox-container {
    margin-right: auto;
    padding-left: 5px;
  }

  &__button-container {
    margin-left: auto;
  }
}

.separator {
  width: 100%;
  background-color: #d1d5db;
}

.warning-dialog__content {
  padding-bottom: 5px !important;
}
