.sidenav {
  width: var(--sidenav-width);
  height: var(--sidenav-height);
  margin-top: var(--sidenav-margin-top);
  background-color: var(--sidenav-bg-color);
  padding-top: 24px;
}

.sidenav-list-item-selected {
  background-color: var(--sidenav-list-item-selected-bg-color);
}

.sidenav-list-item-content {
  color: var(--sidenav-list-item-content-color);
  font-size: var(--sidenav-list-item-content-font-size);
  font-weight: var(--sidenav-list-item-content-font-weight);
  line-height: var(--sidenav-list-item-content-line-height);
  letter-spacing: var(--sidenav-list-item-content-letter-spacing);
  text-align: left;
  padding: var(--sidenav-list-item-content-padding);
}

.line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.selected-line {
  background-color: var(--selected-line-bg-color);
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: var(--mdc-list-item-height) !important;
}