<!-- <mat-nav-list class="sidenav">
      <a mat-list-item *ngFor="let item of navItems" (click)="onClickSelectItem(item.id)" [class.sidenav-list-item-selected]="item.isSelected" >
        <span class="line" [class.selected-line]="item.isSelected"></span>
        <span class="sidenav-list-item-content"> {{ item.name }}</span>
      </a>
    </mat-nav-list> -->
    <mat-nav-list class="sidenav" role="navigation" aria-label="Navigation">
      <a mat-list-item
         *ngFor="let item of navItems; let i = index"
         (click)="onClickSelectItem(item.id)"
         (keyup.enter)="onClickSelectItem(item.id)"
         class="sidenav-list-item"
         [class.sidenav-list-item-selected]="item.isSelected"
         role="menuitem"
         [attr.aria-selected]="item.isSelected ? 'true' : 'false'"
         [attr.tabindex]="i + 1">
        <span class="line" [class.selected-line]="item.isSelected"></span>
        <span class="sidenav-list-item-content" [class.selected-sidenav-list-item-content]="item.isSelected">{{ item.name }}</span>
      </a>
    </mat-nav-list>