<mat-toolbar class="header-bar">
  <div class="header-bar__branding">
    <button mat-icon-button aria-label="branding icon">
      <img src="assets/images/logo.svg" alt="Nuxeo Logo" />
    </button>
    <span class="header-bar__branding__title">Admin Console</span>
  </div>

  <span class="header-bar__spacer"></span>
  <span class="header-bar__branding__username">
      NCO Admin
  </span>
  <button mat-flat-button (click)="onSignOut()" color="primary" aria-label="Logout">
    Logout
  </button>

</mat-toolbar>