<mat-toolbar class="header-bar">
  <div class="header-bar__branding">
    <button mat-icon-button aria-label="branding icon">
      <img src="assets/images/logo.svg" alt="Nuxeo Logo" />
    </button>
    <span class="header-bar__branding__title">Admin Console</span>
  </div>
  <!-- Test Comment -->
  <span class="header-bar__spacer"></span>
  <span *ngIf="displayName" class="header-bar__branding__username">
    {{ displayName}}
  </span>
  <button mat-stroked-button (click)="onSignOut()" aria-label="Logout">
    <mat-icon hyIcon>power_settings_new</mat-icon> Logout
  </button>

</mat-toolbar>