<mat-toolbar class="header-bar">
  <div class="header-bar__branding">
    <a href="" aria-label="branding icon" (click)="navigateToHome()" class="brand-button">
      <img src="assets/images/logo.svg" alt="Nuxeo Logo" />
    </a>
    <span class="header-bar__branding__title">{{ BRAND_TITLE }}</span>
  </div>

  <div>
    <span *ngIf="displayName" class="header-bar__branding__username">
      {{ displayName }}
    </span>
    <button mat-stroked-button (click)="onSignOut()" aria-label="Logout" class="logout-btn">
      <mat-icon fontSet="material-symbols-outlined">logout</mat-icon> {{ LOGOUT }}
    </button>
  </div>
</mat-toolbar>