<hy-dialog-box class="confirmation-dialog">
    <hy-dialog-box-header>
        <hy-dialog-box-title class="confirmation-dialog__title">{{data.title}}</hy-dialog-box-title>
    </hy-dialog-box-header>

    <hy-dialog-box-content class="confirmation-dialog__content">
        <hy-dialog-box-subheading>
            {{data.message}}
        </hy-dialog-box-subheading>
    </hy-dialog-box-content>

    <hy-dialog-box-footer>
        <div class="confirmation-dialog__button-container">
            <button mat-flat-button color="primary" (click)="onAbort()">Abort</button>
            <button mat-flat-button color="primary" (click)="onConfirm()">Continue</button>
        </div>
    </hy-dialog-box-footer>
</hy-dialog-box>