.confirmation-dialog {
    width: 564px;
    &__title {
      font-style: normal;
      font-weight: 300;
      font-size: 1.7rem !important;
      line-height: 20px;
      letter-spacing: 0.011em;
    }
    &__content {
      padding-bottom: 5px;
    }
  
    &__button-container {
      margin-left: auto;
    }
  }
  
  :host ::ng-deep hy-dialog-box-subheading .hy-text-subhead {
    font-weight: 200;
    font-size: 14px;
  }
  :host ::ng-deep hy-dialog-box-title .mat-title {
    font-size: 26px;
  }
  