<form [formGroup]="inputForm" (ngSubmit)="onFormSubmit()" class="folder-tab-container">
    <p id="requiredField"> {{ GENERIC_LABELS.REQUIRED_FIELD_INDICATOR }}</p>
    <mat-form-field hyFormField>
        <mat-label>{{ isIdAndPathRequired(activeFeature) ? GENERIC_LABELS.DOCUMENT_ID_OR_PATH : GENERIC_LABELS.DOCUMENT_ID  }}</mat-label>
        <input matInput placeholder="{{ isIdAndPathRequired(activeFeature) ? GENERIC_LABELS.DOCUMENT_ID_OR_PATH : GENERIC_LABELS.DOCUMENT_ID}}" type="text" formControlName="inputIdentifier" id="inputIdentifier" required />
        <mat-error *ngIf="inputForm?.get('inputIdentifier')?.invalid">
            {{getErrorMessage()}}
        </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" class="folder-tab-container__button" [disabled]="isSubmitBtnDisabled">
        {{ templateLabels.submitBtnLabel }}
    </button>
    <div class="spinner-overlay" *ngIf="spinnerVisible">
        <mat-progress-spinner class="custom-spinner" mode="indeterminate">
        </mat-progress-spinner>
    </div>
</form>