<div class="configuration-container">
  @if (isDataLoaded && !isError && isValidData(configurationDetails)) {
  <h5>{{CONFIGURATION_DETAILS_CONSTANTS.TITLE}}
  </h5>
  }
  <!-- Loading State -->
  @if (!isDataLoaded && !isError) {
  <div class="loading-container">
    <mat-spinner [diameter]="50"></mat-spinner>
    <p>{{ CONFIGURATION_DETAILS_CONSTANTS.LOADING_MSG }}</p>
  </div>
  }
  <!-- Error State -->
  @if (isError) {
  <div class="error-container">
    <h3>
      {{ CONFIGURATION_DETAILS_CONSTANTS.API_FAILURE_MESSAGE }}
    </h3>
    <button mat-raised-button color="primary" (click)="getConfigurationDetails()">
      {{ CONFIGURATION_DETAILS_CONSTANTS.RETRY_BTN_LABEL }}
    </button>
  </div>
  }
  <!-- No Data State -->
  @if (isDataLoaded && !isError && !isValidData(configurationDetails)) {
  <div class="no-data-container">
    <h3>{{ CONFIGURATION_DETAILS_CONSTANTS.NO_DATA_MSG }}</h3>
  </div>
  }
  <!-- Data Available State -->
  @if (isDataLoaded && !isError && isValidData(configurationDetails)) {
  <div class="main-flex-container">
    <div class="configuration-data-container">
      <custom-nuxeo-json-viewer [json]="configurationDetails" [expanded]="false"></custom-nuxeo-json-viewer>
    </div>
  </div>
  }