.probes-summary mat-card {
  height: 100% !important;
  button {
    border-radius: 4px;
    width: 79px;
    height: 36px;
    position: relative;
    bottom: 8%;
    right: 4%;
  }
}

.probes-summary mat-paginator {
  width: max-content;
}

::ng-deep .probes-data {
  height: 100% !important;
  padding: 20px !important;
}
