<div class="generic-multi-feature-container">
  @if (pageTitle) {
  <h1 id="page-title" tabindex="0" aria-live="polite">
    {{ pageTitle }}
  </h1>
  }
  <div class="generic-multi-feature-container__tabs-container">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" aria-label="Generic multi feature navigation">
      @for (tab of searchTabs; track tab; let i = $index) {
      <a mat-tab-link [routerLink]="[tab.path]" [active]="activeTab === tab"
        [attr.aria-selected]="activeTab === tab ? 'true' : 'false'" (click)="activateTab(tab)">
        {{ tab.label }}
      </a>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>