<mat-card role="region" aria-label="Registration Version" tabindex="0"
  class="registration-version registration-version--mdc">
  <mat-card-content class="registration-version__content registration-version__content--first">
    <div class="version-info">
      {{ INSTANCE_INFO_LABEL.INSTANCE_INFO_LABEL }}
    </div>
  </mat-card-content>
  <div class="instance-info">
    <p>
      <span class="registration-version__label">{{ REGISTRATION_VERSION_LABELS.VERSION_TITLE }}</span>
      {{ versionInformation?.version }}
    </p>
    <p>
      <span class="registration-version__label">{{ REGISTRATION_VERSION_LABELS.CLUSTER_ENABLED }}</span>
      {{ versionInformation?.clusterEnabled }}
    </p>
    <div *ngFor="let item of [
            { label: INSTANCE_INFO_LABEL.ENTITY_TYPE, value: instanceInformation?.['entity-type'] },
            { label: INSTANCE_INFO_LABEL.REGISTERED, value: instanceInformation?.registered },
            { label: INSTANCE_INFO_LABEL.REGISTRATION_EXPIRATION, value: instanceInformation?.registrationExpiration, isDate: true },
            { label: INSTANCE_INFO_LABEL.INSTANCE_TYPE, value: instanceInformation?.instanceType },
            { label: INSTANCE_INFO_LABEL.CONTRACT_STATUS, value: instanceInformation?.contractStatus },
            { label: INSTANCE_INFO_LABEL.DESCRIPTION, value: instanceInformation?.description },
            { label: INSTANCE_INFO_LABEL.MESSAGE, value: instanceInformation?.message },
          ]">
      <p class="instance-info__item">
        <span class="instance-info__label">{{ item.label }}</span>
        <ng-container *ngIf="item.isDate; else normalValue">
          {{ item.value | date: 'medium' }}
        </ng-container>
        <ng-template #normalValue>
          {{ item.value || 'NA'}}
        </ng-template>
      </p>
    </div>
  </div>
</mat-card>