<mat-card role="region" aria-label="Registration Version" tabindex="0"
  class="registration-version registration-version--mdc">
  <mat-card-content class="registration-version__content registration-version__content--first">
    <div class="version-info">
      {{ INSTANCE_INFO_LABEL.INSTANCE_INFO_LABEL }}
    </div>
  </mat-card-content>
  <div class="instance-info">
    <p>
      <span class="registration-version__label">{{ REGISTRATION_VERSION_LABELS.VERSION_TITLE }}</span>
      {{ versionInformation?.version }}
    </p>
    <p>
      <span class="registration-version__label">{{ REGISTRATION_VERSION_LABELS.CLUSTER_ENABLED }}</span>
      {{ versionInformation?.clusterEnabled }}
    </p>
    @for (item of INSTANCE_INFO_DATA_LABELS; track item) {
    <div>
      <p class="instance-info__item">
        <span class="instance-info__label">{{ item.label }}</span>
        @if (item.isDate) {
        {{ instanceInformation?.[item.key] | date: 'medium' }}
        } @else {
        {{ instanceInformation?.[item.key] || 'NA'}}
        }
      </p>
    </div>
    }
  </div>
</mat-card>