<mat-card role="region" aria-label="Registration Version" tabindex="0"
  class="registration-version registration-version--mdc">
  <mat-card-content class="registration-version__content registration-version__content--first">
    Version Info
  </mat-card-content>
  <ng-container *ngIf="versionInfo$ | async as versionInfo">
    <p class="registration-version__version">
      <span class="registration-version__label">Version:</span>
      {{ versionInfo.version }}
    </p>
    <p class="registration-version__cluster">
      <span class="registration-version__label">Cluster Enabled:</span>
      {{ versionInfo.clusterEnabled }}
    </p>
  </ng-container>
</mat-card>