<hy-dialog-box>
  <hy-dialog-box-header>
    <hy-dialog-box-title>
      <!-- {{
      data.errorFlag
      ? "An error happened"
      : data.completedFlag
      ? "Action launched"
      : "Warning"
      }} -->
      {{data.header}}
    </hy-dialog-box-title>
  </hy-dialog-box-header>

  <hy-dialog-box-content>
    <div *ngIf="data.isConfirmModal">
      <p>
        <strong>{{ data.impactMessage }}</strong>
      </p>
      <p>
        Would you like to continue? 
      </p>
      <!-- <p>
        This action will impact {{ data.numberOfDocuments }} documents. <br>
        This action could take approximately {{ data.timeInHumanReadableFormat }}.
      </p> -->
    
    </div>
    <div *ngIf="data.errorMessage">
      <p>
        {{data.errorMessage}}
        <!-- Your action was not executed due to an error. Details: [ERROR MESSAGE
        RETURNED BY THE SERVER] -->
      </p>
    </div>
    <div *ngIf="data.successMessage">
      <p>
        <!-- Congratulations! Your action is launched with ID {{ data.actionId }}.
        Remember to take note of the ID if you want to monitor it later on. -->
        {{data.successMessage}}
      </p>
      <button mat-flat-button color="primary" (click)="copyActionId()">
        Copy action ID
      </button>
    </div>
  </hy-dialog-box-content>

  <hy-dialog-box-footer>
    <!-- <ng-container *ngIf="data.confirmationFlag && !data.errorFlag && !data.completedFlag">
      <button mat-stroked-button color="primary" (click)="cancel()">
        Abort
      </button>
      <button mat-flat-button color="primary" (click)="confirm()">
        {{ data.confirmLabel }}
      </button>
    </ng-container>
    <ng-container *ngIf="!data.confirmationFlag && (data.errorFlag || data.completedFlag)">
      <button mat-flat-button color="primary" (click)="confirm()">Close</button>
    </ng-container> -->

    <button *ngIf="data?.isConfirmModal" mat-stroked-button color="primary" (click)="abort()">
      {{ data.abortLabel }}
    </button>
    
    <button mat-flat-button color="primary" (click)="confirm()">
      {{ data.closeContinueLabel }}
    </button>
  </hy-dialog-box-footer>
</hy-dialog-box>