.stream-container {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: calc(100vh - 15vh);


  &__placeholder {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }

  .result {
    margin-top: 15px;
  }
}

.consumer-thread-pool-container {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: calc(100vh - 15vh);

  &__placeholder {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
}

.stream-tab-group {
  margin-left: 2px;
}
