<div class="stream-container">
    <h1 *ngIf="pageTitle" id="page-title" tabindex="0" aria-live="polite">
        {{ pageTitle }}
    </h1>
    <div class="stream-container__placeholder">
        <stream-form></stream-form>
        <div *ngIf="isFetchingRecords || records!.length > 0">
            <hr>
            <stream-records-status [recordsFetchedStatus]="recordsFetchedStatus"
                [recordCount]="recordCount"></stream-records-status>
        </div>
        <div class="result" *ngIf="records!.length > 0 || !clearRecordsDisplay">
            <stream-records [records]="records"></stream-records>
        </div>
    </div>
</div>