.stream-container {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: calc(100vh - 15vh);


  &__placeholder {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }

  .result {
    margin-top: 15px;
  }
}

.consumer-thread-pool-container {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: calc(100vh - 15vh);

  &__placeholder {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
}

::ng-deep .mat-mdc-tab-labels {
  width: max-content !important;

  .mdc-tab__text-label {
    color: #173e65 !important;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

  }
}

.stream-tab-group {
  margin-left: 2px;
}
