<div class="nuxeo-stream-container">
  @if (!isDataLoaded && !isError) {
  <div class="loading-container"> <!-- Loading State -->
    <mat-spinner [diameter]="50"></mat-spinner>
    <p>Loading data...</p>
  </div>
  }
  @if (isError) {
  <div class="error-container"> <!-- Error State -->
    <h3>
      {{ GENERIC_API_LABELS.API_FAILURE_MESSAGE }}
    </h3>
    <button mat-raised-button color="primary" (click)="loadJsonData()">
      {{ GENERIC_API_LABELS.RETRY_BTN_LABEL }}
    </button>
  </div>
  }
  <!-- No Data State -->
  @if (isDataLoaded && !isError && !isValidData(streamProcessorJsonData)) {
  <div class="no-data-container">
    <h3>{{ NUXEO_STREAM_PROCESSOR_INFO_LABELS.NO_DATA_MSG }}</h3>
  </div>
  }
  <!-- Data Available State -->
  @if (isDataLoaded && !isError && isValidData(streamProcessorJsonData)) {
  <div class="main-flex-container">
    <div class="nuxeo-stream-data-container">
      <custom-nuxeo-json-viewer [json]="streamProcessorJsonData" [expanded]="false"></custom-nuxeo-json-viewer>
    </div>
  </div>
  }
</div>