
:host {
  display: block;
  height: 100%;
  width: 100%;
}

.main-flex-container {
  height: 100%;
  padding: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
}

.nuxeo-stream-data-container {
  padding: 2px 0px 0px 10px;
  background-color: white;
  height: 80%;
  width: 90%;
}

.nuxeo-stream-container {
  height: 100%;
  max-height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.loading-container,
.error-container,
.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.error-container h3,
.no-data-container h3 {
  font-weight: 500;
  font-size: 18px;
  color: #666;
}

.error-container button{
  background-color: #0a60ce;
  border-radius: 4px !important;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
} 

.loading-container {
  mat-spinner {
    margin-bottom: 1.5rem;
  }
  
  p {
    margin: 0;
    color: #666;
    font-size: 16px;
  }
}

.error-container {
  h3 {
    margin-bottom: 1.5rem;
  }
}

.no-data-container {
  h3 {
    margin: 0;
  }
}