<mat-nav-list class="admin-menu" role="navigation" aria-label="navigation">
    <a mat-list-item 
       *ngFor="let item of adminMenu; let i = index" 
       (click)="menuItemSelected(item.id)"
       (keyup.enter)="menuItemSelected(item.id)" 
       class="admin-menu__list-item"
       [ngClass]="{'admin-menu__list-item--selected': item.isSelected}" 
       role="menuitem"
       [attr.aria-selected]="item.isSelected ? 'true' : 'false'" 
       [attr.tabindex]="i + 1">
        <span class="admin-menu__line" 
              [ngClass]="{'admin-menu__line--selected': item.isSelected}"></span>
        
        <span class="admin-menu__list-item-content" 
              [ngClass]="{'admin-menu__list-item-content--selected': item.isSelected}">{{ item.name }}</span>
    </a>
</mat-nav-list>