<div class="scaling-analysis-container">
  <!-- Loading State -->
  @if (!isDataLoaded && !isError) {
  <div class="loading-container">
    <mat-spinner [diameter]="50"></mat-spinner>
    <p>Loading data...</p>
  </div>
  }
  <!-- Error State -->
  @if (isError) {
  <div class="error-container">
    <h3>
      {{ GENERIC_API_LABELS.API_FAILURE_MESSAGE }}
    </h3>
    <button mat-raised-button color="primary" (click)="loadJsonData()">
      {{ GENERIC_API_LABELS.RETRY_BTN_LABEL }}
    </button>
  </div>
  }
  <!-- No Data State -->
  @if (isDataLoaded && !isError && !isValidData(scalingAnalysisData)) {
  <div class="no-data-container">
    <h3>{{ GET_SCALING_ANALYSIS_LABELS.NO_DATA_MSG }}</h3>
  </div>
  }
  <!-- Data Available State -->
  @if (isDataLoaded && !isError && isValidData(scalingAnalysisData)) {
  <div class="main-flex-container">
    <div class="scaling-analysis-data-container">
      <custom-nuxeo-json-viewer [json]="scalingAnalysisData" [expanded]="false"></custom-nuxeo-json-viewer>
    </div>
  </div>
  }