<div class="scaling-analysis-container">
  <!-- Loading State -->
  <div class="loading-container" *ngIf="!isDataLoaded && !isError">
    <mat-spinner [diameter]="50"></mat-spinner>
    <p>Loading data...</p>
  </div>
  <!-- Error State -->
  <div class="error-container" *ngIf="isError">
    <h3>
      {{ GENERIC_API_LABELS.API_FAILURE_MESSAGE }}
    </h3>
    <button mat-raised-button color="primary" (click)="loadJsonData()">
      {{ GENERIC_API_LABELS.RETRY_BTN_LABEL }}
    </button>
  </div>
  <!-- No Data State -->
  <div class="no-data-container" *ngIf="isDataLoaded && !isError && !isValidData(scalingAnalysisData)">
    <h3>{{ GET_SCALING_ANALYSIS_LABELS.NO_DATA_MSG }}</h3>
  </div>
  <!-- Data Available State -->
  <div class="main-flex-container" *ngIf="isDataLoaded && !isError && isValidData(scalingAnalysisData)">
    <div class="scaling-analysis-data-container">
      <pre>{{ scalingAnalysisData | json }}</pre>
    </div>
  </div>
</div>