.home-container {
  display: flex;
  flex-wrap: wrap;
  padding-right: 50px;
  height: 100vh;
  background-color: #f4f4f4;
  padding: 20px 20px 0px 30px;
  &__probes {
    width: 65%;
    height: 60%;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  &__registration-version {
    width: 33%;
    height: 60%;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1250px) {
  .home-container {
    flex-direction: row;
  }
  .home-container__probes,
  .home-container__registration-version {
    width: 100vw;
    margin-right: 20px;
    height: 100vh;
  }
}