<h2> {{ ERROR_MODAL_LABELS.ERROR_MODAL_TITLE }} </h2>
<hr class="separator">
<mat-dialog-content class="mat-typography error-modal">
  <div *ngIf="data.error.type === ERROR_MODAL_LABELS.SERVER_ERROR else customErrorMessage;">
    <p>{{ERROR_MODAL_LABELS.ERROR_SUBHEADING}}</p>
    <p>{{ERROR_MODAL_LABELS.ERROR_STATUS}} {{data.error.details.status}}</p>
    <p>{{ERROR_MODAL_LABELS.ERROR_DETAILS}} {{data.error.details.message}}</p>
  </div>
  <ng-template #customErrorMessage>
    <p>{{getCustomErrorMessage()}}</p>
  </ng-template>
</mat-dialog-content>
<hr class="separator">
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="close()">
    {{ GENERIC_LABELS.CLOSE_LABEL }}
  </button>
</mat-dialog-actions>