.stream-form-container {
  padding: 10px 0px 0px 10px;

  .required-indicator {
    color: rgb(218, 21, 0);
    font-family: "Open Sans", sans-serif;
    padding-left: 2px;
  }

  #requiredField {
    font-size: 14px;
    color: rgb(218, 21, 0);
    font-family: "Open Sans";
    line-height: 1;
  }

  .label {
    line-height: 1;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
  }

  .label.form-param {
    font-size: 16px;
    font-weight: 500;
    ;
  }

  &--stream-container {
    margin-top: 20px;
  }

  &--position-container {
    display: flex;
    flex-direction: column;

    #position {
      margin-top: 15px;
      margin-left: -5px;

      mat-form-field.input-field.stream-field {
        width: 350px;
        max-width: 350px;
      }
    }

    .radio-group-container {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

  }

  &--actions {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__button {
    border-radius: 4px !important;
    width: 140px;
    height: 45px;
    position: relative;
    left: 20px;
    font-size: 16px;
    bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    letter-spacing: normal;
    background-color: #0a60ce;
    color: #fff;
  }
}

.mat-mdc-unelevated-button[disabled],
.mat-mdc-unelevated-button.mat-mdc-button-disabled {
  cursor: default;
  pointer-events: none;
  color: var(--mdc-filled-button-disabled-label-text-color,
      color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent));
  background-color: var(--mdc-filled-button-disabled-container-color,
      color-mix(in srgb, var(--mat-sys-on-surface) 12%, transparent));

}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: #3f51b5;
  --mdc-radio-selected-hover-icon-color: #3f51b5;
  --mdc-radio-selected-icon-color: #3f51b5;
  --mdc-radio-selected-pressed-icon-color: #3f51b5;
  --mat-radio-checked-ripple-color: #3f51b5;
}