.probes {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    background-color: #0a60ce;
    color: #fff;
    width: max-content;
    height: 40px;
  }
  h1 {
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
  }
  .probes-data {
    height: 95%;
  }
}
