.bulk-action-summary {
  margin-top: 30px;
  &__header {
    display: flex;
    flex-direction: row;
    .action-details {
      .info-icon {
        position: relative;
        top: 10px;
        cursor: pointer;
        margin-left: 5px;
        width: auto;
      }
    }
    .action-name {
      font-weight: 550;
      font-size: 20px;
      text-transform: capitalize;
    }

    .action-status {
      margin-left: 5px;
    }

    h5,
    p {
      margin-top: 4px;
    }

    button {
      margin-left: 30px;
      margin-top: 4px;
      border-radius: 8px;
      padding: 0 16px;
      border-color: #6b7280;
      font-family:  "Open Sans", sans-serif;
    }
  }
}

mat-icon {
  font-size: 16px;
}

#refreshResultsBtn:focus-visible {
  background-color: #E0E1E0;
}

@media (max-width: 962px) {
  .bulk-action-summary__header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    button {
      margin-left: 0;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}
