.elastic-search-reindex-container {
  background-color: #F4F4F4;
  margin: 0px;
  padding:20px;
  height: 100%;
  &__tabs-container {
    background-color: white;
    height: 95%;
    width: 100%;
    margin: 0px;
    padding: 5px;
  }
}
