<div class="elastic-search-reindex-container">
    <p *ngIf="pageTitle">{{pageTitle}}</p>
    <div class="elastic-search-reindex-container__tabs-container">
        <nav mat-tab-nav-bar hyTabGroup [tabPanel]="tabPanel" aria-label="ElasticSearch Reindexing navigation">
            <a mat-tab-link *ngFor="let tab of searchTabs;" (click)="activeTab=tab" [active]="activeTab == tab"
                [routerLink]="[tab.path]" [attr.aria-selected]="tab.isSelected ? 'true' : 'false'">
                {{tab.label}} </a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        <router-outlet></router-outlet>
    </div>
</div>