.elastic-search-reindex-container {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  height: 100%;
  &__tabs-container {
    background-color: #fff;
    height: 95%;
    width: 100%;
    margin: 0px;
    padding: 5px;
  }
}
nav a span.mdc-tab__content {
  padding: 0 25px !important;
}
