<form [formGroup]="reindexForm" (ngSubmit)="onReindexFormubmit()" class="document-es-reindex-container">
    <mat-form-field hyFormField>
        <mat-label>Document ID or Path</mat-label>
        <input matInput placeholder="Document ID or path" type="text" formControlName="documentID" required>
        <mat-error *ngIf="reindexForm?.get('documentID')?.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" class="document-es-reindex-container__button">Reindex</button>
</form>