.folder-es-reindex-container {
  padding: 16px 0px 0px 16px;
  &__button {
    border-radius: 4px !important;
    width: 110px;
    height: 45px;
    position: relative;
    left: 20px;
    font-size: 16px;
    bottom: 3px;
   // @include elastic-search-reindex-button;
  }
}
