.document-tab-container {
  padding: 10px 0px 0px 10px;
  .required-indicator {
    color: rgb(218, 21, 0);
    font-family: "Open Sans", sans-serif;
    padding-left: 2px;
  }
  &.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #requiredField {
    font-size: 14px;
    color: rgb(218, 21, 0);
    font-family: "Open Sans";
    line-height: 1;
  }
  .label {
    line-height: 1;
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
  }
  &__button {
    border-radius: 4px !important;
    width: 110px;
    height: 45px;
    position: relative;
    left: 20px;
    font-size: 16px;
    bottom: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    letter-spacing: normal;
    background-color: #0a60ce !important;
    color: #fff;
    &.video-renditions {
      left: 0;
      bottom: 0;
    }
    &.fulltext-reindex {
      left: 0;
      bottom: 0;
    }
  }
  .conversion-helper-text {
    font-size: 14px;
    margin-top: -15px;
    color: #666666;
  }
  .force-checkbox-container {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
  }

  .force-conversion-helper-text {
    max-width: 600px;
    white-space: normal;
    word-wrap: break-word;
    font-size: 13px;
    margin-top: -15px;
    color: #666666;
  }

  
}
