/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "@hyland/ui" as hy;
@use "@hyland/ui/theming/hy-palette.theme";
@use "@hyland/ui-shell" as hy-shell;
@use "sass:map";

@import "@hylandsoftware/hy-ui-icons/index.css";

@include hy.typography();
@include hy.core();

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype support variations"),
    url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
      format("truetype-variations");
  font-weight: 400 700;
  font-display: swap;
}
:root {
  --sidenav-width: 240px;
  --sidenav-height: 94.73vh;
  --sidenav-margin-top: 5.27vh;
  --sidenav-bg-color: #212121;
  --sidenav-list-item-selected-bg-color: black;
  --sidenav-list-item-content-color: #FFFFFF;
  --sidenav-list-item-content-font-size: 12px;
  --sidenav-list-item-content-font-weight: 400;
  --sidenav-list-item-content-line-height: 20px;
  --sidenav-list-item-content-letter-spacing: 0.16px;
  --sidenav-list-item-content-padding: 9px 8px;
  --selected-line-bg-color: #0C6BD4;
  --mdc-list-item-height: 36px;
}
html,
body {
  height: 100%;
  margin: 0;
}

// IE11 compatibility mode
.material-icons {
  font-feature-settings: "liga";
}
